
/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul, ol, menu {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
}

/*Layout*/

body {
    font-family: 'DM Sans', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 800px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
    padding: 10px;
}

.navbar {
    padding: 8px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar_list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}
